{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Soluções e Tecnologia LTDA<br />
    Rua do Conselheiro, 310<br />
    <abbr title="Telefone">Tel:</abbr>
    94025-5749
    Contato: Pedro Henrique
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@solut.com">Suporte@solut.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@solut.com">Marketing@solut.com</a>
</address>

{% endblock %}
